<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
     

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3F72AF;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Employee App</a>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <%for(i=0;i<nav.length;i++){ %>
          <li class="nav-item">
            <a class="nav-link active  me-3" aria-current="page" href="<%=nav[i].link%>"><%=nav[i].name%></a>
          </li>
          <%}%>
          
        </ul>
        
      </div>
    </div>
</nav>
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <form action="/employees/editEmployee/<%= data._id %>" method="POST"  class="p-4 rounded" style="width: 400px; background-color: #F9F7F7;">
        <h2 class="text-center mb-4">Update Employee Details</h2>
        
            <div class="mb-3">
                <label for="employeeName" class="form-label">Name</label>
                <input type="text" class="form-control" id="employeeName" name="employeeName" value="<%= data.employeeName %>" required>
            </div>
            <div class="mb-3">
                <label for="employeeDesignation" class="form-label">Designation</label>
                <input type="text" class="form-control" id="employeeDesignation" name="employeeDesignation" value="<%= data.employeeDesignation %>" required>
            </div>
            <div class="mb-3">
                <label for="employeeLocation" class="form-label">Location</label>
                <input type="text" class="form-control" id="employeeLocation" name="employeeLocation" value="<%= data.employeeLocation %>" required>
            </div>
            <div class="mb-3">
                <label for="employeeSalary" class="form-label">Salary</label>
                <input type="text" class="form-control" id="Salary" name="Salary" value="<%= data.Salary %>" required>
            </div>
            <div class="text-center mb-3 ">
              <button type="submit" style="width: 300px;" class="btn btn-success">Update</button>
          </div>
        </form>
    </div>
</body>
</html>
